.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.loading-page .loading {
  margin: auto;
  font-size: 1rem;
  color: lightgrey !important;
}

.hiiden {
  display: none;
}

.slide-down {
  animation: slideDown 0.3s ease-in-out;
}

.slide-up {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
